{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Create your own Gallery {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'gallery/style.css' %}">
{% endblock style %}

{% block content %}
    <section class="shadow-lg pb-3">
        <div class="container-md">
            <div class="row p-3 justify-content-center">
                <div class="col-12">
                    <div class="artwork-card p-3">
                        <img src="{{artwork.image.url}}" alt="" class="mx-auto shadow-lg" style="max-height: 80vh; max-width: 60vw;">
                        <div class="card-body pt-2">
                            <div class="text-center" style="font-size: 1.5rem;">
                                <i class="bi bi-star-fill me-2"></i>
                                <i class="bi bi-star-fill me-2"></i>
                                <i class="bi bi-star-fill me-2"></i>
                                <i class="bi bi-star-fill me-2"></i>
                                <i class="bi bi-star-fill me-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col d-flex flex-column">
                    <div class="mb-2">
                        <h1>{{artwork.title}}</h1>
                    </div>
                    <div>
                        <p class="gallery-paragraph">{{artwork.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="shadow-lg mt-4 p-3">
        <div class="container-md" data-bs-theme="dark">
            <div class="row">
                <div class="col">
                    <div class="artwork-card">
                        <div class="card-body p-lg-3">
                            <form action="{{artwork.get_absolute_path}}" method="post" id="review-form">
                                {% csrf_token %}
                                    <div class="py-2 stars">
                                        {% for estrela in stars %}
                                            <i id="estrela-{{estrela}}" class="bi bi-star-fill"></i>
                                        {% endfor %}
                                        <strong class="error-message" id="error-message">Escolha uma avaliação</strong>
                                    </div>
                                    <input type="hidden" id="starValue" name="starValue" value="">
                                <label for="{{form.content.id_for_label}}" class="form-label"><small>Comment as <span style="color: #BFA181;">{{user.username}}</span></small></label>
                                {% render_field form.content class+="form-control" rows=5 %}
                                <button class="btn outline-btn btn-sm mt-2">Comment</button> 
                            </form>
                            <hr>
                            {% for comment in comments %}
                                <p>{{comment.user}}</p>
                                <p>{{comment.content}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block script %}
    <script src="{% static 'gallery/review_stars.js' %}"></script>
{% endblock script %}