{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %} {% endblock title %}</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
		<link rel="stylesheet" href="{% static 'style.css' %}" />
		{% block style %} {% endblock style %}
	</head>
	<body class="app">
		<header>
			<nav class="primary-navbar navbar navbar-expand-lg" data-bs-theme="dark">
				<div class="container-fluid">
					<a class="nav-logo navbar-brand" href="{% url 'gallery:index' %}">
						<span>Gallery2You</span>
					</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-color nav-link" href="{% url 'gallery:create_gallery' %}">Create Gallery</a>
							</li>
							<li class="nav-item">
								<a class="nav-color nav-link" href="{% url 'gallery:galleries' %}">Galleries</a>
							</li>
							<li class="nav-item">
								<a class="nav-color nav-link" href="{% url 'gallery:artworks' %}">Artworks</a>
							</li>
						</ul>
						<form action="{% url 'gallery:search' %}" method="get" class="d-flex me-auto" role="search">
							<input class="header-form form-control me-2" type="search" placeholder="Search for Galleries" aria-label="Search" name="q" />
							<button class="btn outline-btn" type="submit">Search</button>
						</form>
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							{% if user.is_authenticated %}
								<li class="pfp-item dropdown pe-2">
									<a class="nav-pfp nav-color d-flex mt-lg-0 mt-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										<img class="pfp-img img-fluid rounded-circle" src="{{user.profile_picture.url}}">
										<span class="d-flex align-items-center">{{user.username}}</span>
										<i class="dropdown-icon d-flex bi bi-caret-down-fill ms-1 align-items-center"></i>
									</a>
									<ul class="dropdown-menu dropdown-menu-end">
									<li><a class="dropdown-item" href="{{user.get_absolute_path}}">Profile</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="{% url 'auth:logout' %}?path={{request.path}}">Logout</a></li>
									</ul>
								</li>
							{% else %}
							<li>
								<a href="{% url 'auth:login' %}" class="btn outline-btn px-3 mt-2 me-3 mt-lg-0">Log In</a>
							</li>
							<li>
								<a href="{% url 'auth:signup' %}" class="btn primary-btn mt-2 mt-lg-0">Sign Up</a>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<main style="min-height: 100vh;">
			{% block content %} 
			{% endblock content %}
		</main>

		<div class="container-fluid">
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-top" data-bs-theme="dark">
			  <div class="col-md-4 d-flex align-items-center">
				<a href="/" class="mb-0 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
					<i class="bi bi-easel2-fill"></i>
				</a>
			  </div>
			  <span class="mb-0 mb-md-0 text-body-secondary">© 2023 Gallery2You, Inc</span>
			  <ul class="footer-icons-list nav col-md-4 justify-content-end list-unstyled d-flex align-items-center">
				<li class="footer-icons-items"><i class="bi bi-twitter"></i></li>
				<li class="footer-icons-items"><i class="bi bi-facebook"></i></li>
				<li class="footer-icons-items"><i class="bi bi-instagram"></i></li>
			  </ul>
			</footer>
		  </div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"></script>

		{% block script %}
		{% endblock script %}
	</body>
</html>
