@keyframes fadeOutAndCollapse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        height: 100%;
        padding: initial;
    }
    100% {
        opacity: 0;
        height: 0;
        padding: 0;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Utilities Classes */
.fade-in {
    animation: fadeIn 0.5s;
}

.fade-out {
    animation: fadeOutAndCollapse 1s forwards;
}


/* index.html Classes */

.h1-quote {
    font-size: 30px;
}

.quote-author {
    color: #fff; 
    opacity: 0.6;
}

.h2-paragraph {
    color: #fff; 
    opacity: 0.7;
    font-size: 1.175rem;
}


/* create_gallery.html Classes */

.create-gallery-img {
    height: 596px;
}

.create-gallery-paragraph {
    font-size: 1.2em; 
    color: #fff; 
    opacity: 0.8;
}

.create-gallery-ul {
    color: #fff; 
    opacity: 0.7;
}

.start-btn-icon {
    position: relative; 
    top: 2px;
}


/* user_gallery.html Classes */

.gallery-cover-photo {
    max-height: 325px; 
    max-width: 275px;
}

.gallery-paragraph {
    color: #fff; 
    opacity: 0.7;
}

.gallery-artwork-card-img {
    max-height: 325px; 
    max-width: 275px;
}

.card {
    border: solid #BFA181;
    border-width: thin;
    
}